@mixin searchbar() {
  .search-bar-container{
    display: flex;
    flex-direction: row;

    .input-search {
      flex: 1;
    }

    .search-button {
      margin-left: 16px;
    }
  }
}

@mixin searchbar-theme() {

}