<a href="/recipe/{{ recipe.id }}">
    <div class="recipe-list-item grey lighten-5">
        <div class="image-container"></div>
        <div class="description-container">
            <div class="title">
                <span>{{ recipe.title }}</span>
            </div>
            <div class="description">
                <span>{{ recipe.shortDescr }}</span>
            </div>
        </div>
        <div class="navigation-indicator-container">
            <i class="material-icons left">keyboard_arrow_right</i>
        </div>
    </div>
</a>