{% extends 'views/base.html.twig' %}

{% block title %} {{ "PAGES.RECIPE_LIST.TITLE" | trans }}{% endblock %}

{% block body %}

    <header>
        {{ include('views/organisms/recipe-list-header/recipe-list-header.html.twig', {
            searchForm: searchForm
        }) }}
    </header>
    <main>
        {{ include('views/organisms/recipe-list-body/recipe-list-body.html.twig', {
            recipes: recipes
        }) }}
    </main>
{% endblock %}